/* ========================= */
/*   ОСНОВНАЯ ПАНЕЛЬ ПЛЕЕРА  */
/* ========================= */

.player-row {
    width: 100%;
    background: #008080; /* цвет карточки */
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

/* Левая карточка */
.player-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 160px;
    background: #008080; /* маскируем квадрат */
    border-radius: 12px;
    padding: 12px;
    color: white;
}

.station-title {
    font-size: 14px;
    opacity: 0.85;
}

/* ========================= */
/*        КНОПКА PLAY        */
/* ========================= */

.play-btn {
    width: 90px;
    height: 90px;
    background: #008080;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 0;
}

/* Внешний треугольник (зелёный контур) */
.play-btn::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 4px;
    width: 0;
    height: 0;

    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 65px solid #003020;

    z-index: 1;
}

/* Внутренний треугольник (жёлтый) */
.play-btn::before {
    content: "";
    position: absolute;
    left: 18px;   /* было 22px — двигаем влево */
    top: 16px;
    width: 0;
    height: 0;

    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 42px solid #ffd700;

    z-index: 2;
}





/* ========================= */
/*       ВИЗУАЛИЗАТОР        */
/* ========================= */

#visualizer {
    flex: 1;
    height: 120px;
    background: #004040;
    border-radius: 12px;
}
